<div class="main-login">
<h2 class="main-title">Admin</h2>
<form method="POST" action="/admin/login" class="login-form">
  <input type="text" name="username" placeholder="username" class="login-box"/>
  <br />
  <input type="password" name="password" placeholder="password" class="login-box"/>
  <br />
  <button type="submit" class="reg-button">Log In</button>
</form>
</div>