<h1>Welcome, {{admin.username}}</h1>
<p>What would you like to do today?</p>

<button><a href="/admin/create-manager">Create a Manager account</a></button>
<br />
<button><a href="/admin/create-employee">Create an Employee account</a></button>
<br />
<button><a href="/admin/create-schedule">Create a Schedule</a></button>
<br />
<form method="get" action="/admin/logout">
  <button type="submit">Log Out</button>
</form>