<h1>Welcome, {{admin.fullName}}</h1>
<p>What would you like to do today?</p>

<button><a href="/admin/create-admin">Create an Admin account</a></button>
<br />
<button><a href="/admin/create-employee">Create an Employee account</a></button>
<br />
<button><a href="/admin/create-schedule">Create a Schedule</a></button>
<br />
<button><a href="/admin/view-all">View Company Roster</a></button>
<br />
<button><a href="/admin/view-schedule">View Schedule</a></button>
<br />
<form method="get" action="/admin/logout">
  <button type="submit">Log Out</button>
</form>