<h2>Schedule View Page</h2>



{{!-- <table border="1" cellspacing="1" cellpadding="1">
  <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
      <td>1/1/22</td>
      <td>1/2/22</td>
      <td>1/3/22</td>
      <td>1/4/22</td>
      <td>1/5/22</td>
      <td>1/6/22</td>
      <td>1/7/22</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="7">Managers</td>
    </tr>
    <tr>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
    </tr>
    <td colspan="7">Front of House</td>
    <tr>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
    </tr>
    <td colspan="7">Back of House</td>
    <tr>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
    </tr>
  </tbody>
</table> --}}