<h2>Schedule View Page</h2>
<table border="1" cellspacing="1" cellpadding="1">
  <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
      <td>Date</td>
      <td>Date</td>
      <td>Date</td>
      <td>Date</td>
      <td>Date</td>
      <td>Date</td>
      <td>Date</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="7">Managers</td>
    </tr>
    <tr>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
    </tr>
    <td colspan="7">Front of House</td>
    <tr>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
    </tr>
    <td colspan="7">Back of House</td>
    <tr>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
      <td>Info</td>
    </tr>
  </tbody>
</table>