<h1>Company Roster</h1>
{{#each foundAdmins}}
  <ul>
    <a href="/admin/{{_id}}">{{username}}</a>
  </ul>
{{/each}}
<hr />
{{#each foundEmployees}}
  <ul>
    <a href="/admin/{{_id}}">{{fullName}}</a>
  </ul>
{{/each}}