<div class="standard-page">
  <h1>Welcome, {{employee.fullName}}</h1>
  <p>What would you like to do today?</p>
  <div class="profile-actions">
    <div class="profile-boxes">
      <img src="/images/group.jpeg" class="profile-box-images" />
      <button class="profile-buttons"><a href="/employee/view-all">Company
          Roster</a></button>
    </div>
    <div class="profile-boxes">
      <img src="/images/schedule-view.png" class="profile-box-images" />
      <button class="profile-buttons"><a
          href="/employee/schedule/view-schedule"
        >Schedule View</a></button>
    </div>
  </div>
  <form method="get" action="/employee/logout">
    <button type="submit">Log Out</button>
  </form>
</div>