<h2>Login Page</h2>
<form method="POST" action="/employee/login">
  <input type="text" name="username" placeholder="username" />
  <br />
  <input type="password" name="password" placeholder="password" />
  <br />
  <button type="submit">Log In</button>
</form>