<div class="standard-page">
  <div class="weather-box">
    <li>Temp{{temperature}}</li>
    <li>City{{city}}</li>
    <li>Desc{{weatherDesc}}</li>
  </div>
  <h1>Welcome back</h1>
  <p>What would you like to do today?</p>
  <div class="profile-actions">
    <div class="profile-boxes">
      <img src="/images/group.jpeg" class="profile-box-images" />
      <button class="profile-buttons"><a href="/employee/view-all">Company
          Roster</a></button>
    </div>
    <div class="profile-boxes">
      <img src="/images/single.png" class="profile-box-images" />
      <button class="profile-buttons"><a href="/employee/create-employee">Create
          New Employee</a></button>
    </div>
    <div class="profile-boxes">
      <img src="/images/schedule.png" class="profile-box-images" />
      <button class="profile-buttons"><a
          href="/employee/schedule/create-schedule"
        >Create a Schedule</a></button>
    </div>
    <div class="profile-boxes">
      <img src="/images/schedule-view.png" class="profile-box-images" />
      <button class="profile-buttons"><a
          href="/employee/schedule/view-schedule"
        >Schedule View</a></button>
    </div>
  </div>
  <form class="logout-box" method="get" action="/employee/logout">
    <button class="reg-button-small" type="submit">Log Out</button>
  </form>
</div>