<h1>Welcome, {{employee.fullName}}</h1>
<p>What would you like to do today?</p>

<button><a href="/employee/create-employee">Create an Employee account</a></button>
<br />
<button><a href="/employee/create-schedule">Create a Schedule</a></button>
<br />
<button><a href="/employee/view-all">Company Roster</a></button>
<br />
<button><a href="/employee/view-schedule">View Schedule</a></button>
<br />
<form method="get" action="/employee/logout">
  <button type="submit">Log Out</button>
</form>