<div class="about-page">
<h2>About Iron Scheduler</h1>
<p>Iron Scheduler is an HR / Employee Management app</p>
<p>It works as a tool to: </p>
<ul>
    <li>"Hire" employees, and create account credentials for them.</li>
    <li>Assign roles for new hires, as well as who they report to.</li>
    <li>Store administrative employee data, such as employee IDs, status, hire date, and more.</li>
    <li>Create daily schedules from headcount stored in the roster.</li>
</ul>
<p>The Admin account is modeled from the perspective of a small business owner.</p>
<p>To demo the app, select the <a href="/admin/login" class="about-link">Admin</a> login on the home page, and use the following credentials</p>
<ul>
<li>username: admin</li>
<li>password: admin</li>
</ul>
<p>You can create a new admin account and log into it if you'd like to sample some of the CRUD functionality and more.</p>
</div>