<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Iron Scheduler</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/js/api.js"></script>
    <script src="/js/cleanup.js"></script>
  </head>

  <body>
    <nav class="navbar">
      <div>
        <img src="/images/logoipsum2.svg" />
      </div>
      <a href="/">Iron Scheduler</a>
      <p class="bar">|</p>
      <a href="/admin/login" class="admin-link">Admin</a>
    </nav>
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>

</html>