<div class="profile-box">
  <a href="/admin/profile-after">Back to Profile</a>
</div>
<div class="form-titles">
  <h3>Schedule View</h3>
</div>
<div class="schedule-grid">
  {{#each foundSchedule}}
    <div class="schedule-grid-box">
      <a
        class="schedule-grid-text"
        href="/admin/schedule/{{_id}}"
      >{{date}}</a>
      <img class="calendar-box-images" src="/images/schedule.png" />
    </div>
  {{/each}}
</div>