@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.schedule-grid {
  display: flex;
}

.bar {
  font-size: 1.5em;
  transform: scale(0.5, 2);
}

.login-form {
  text-align: center;
  padding: 0 50px;
}

.login-box {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: deepskyblue;
  padding: 20px;
  align-items: center;
  box-shadow: 5px 10px 10px #888888;
}

.navbar a {
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 20;
  font-weight: 900;
  padding: 0 3%;
}

.main-login {
  display: flex;
  color: royalblue;
  flex-direction: column;
  align-items: center;
  font-size: 35;
  margin-top: 10%;
}

.main-title {
  font-size: 55;
  text-align: center;
  color: royalblue;
  margin: 0;
}

.reg-button {
  font-size: 25;
  color: white;
  background-color: royalblue;
  border: none;
  padding: 5%;
  margin-top: 10%;
}

.standard-page {
  text-align: center;
  margin-top: 7%;
}

.profile-actions {
  display: flex;
  justify-content: center;
}

.profile-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.profile-box-images {
  max-height: 75px;
  max-width: 100px;
}

.profile-buttons {
  font-size: 15;
  text-decoration: none;
  background-color: royalblue;
  border: none;
  padding: 5%;
  margin-top: 10%;
}

.profile-buttons a {
  text-decoration: none;
  color: white;
}

.roster {
  text-align: center;
  margin-top: 5%;
}

.roster-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.houses {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.weather-box {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  font-size: 0.8rem;
  list-style-type: none;
  position: absolute;
  top: 17%;
  right: 0;
}

.form-titles {
  font-size: 25;
  text-align: center;
  color: royalblue;
  margin: 0;
}

.form-border {
  border: 1px solid black;
  width: 300px;
  height: 580px;
  padding: 30px;
  margin: auto;
  align-items: center;
}
.form-border-admin {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  padding: 30px;
  margin: auto;
  align-items: center;
}

.form-pages {
  text-align: center;
  margin-top: 20px;;
}