@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.schedule-grid {
  display: flex;
}

.bar {
  font-size: 1.5em;
  transform: scale(0.5, 2);
}

.logout {
  margin-top: 10%;
  text-align: center;
}

.login-form {
  text-align: center;
  padding: 0 50px;
}

.login-box {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: deepskyblue;
  padding: 20px;
  align-items: center;
  box-shadow: 5px 10px 10px #888888;
}

.navbar a {
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: 20;
  font-weight: 900;
  padding: 0 20px;
}

.main-login {
  display: flex;
  color: royalblue;
  flex-direction: column;
  align-items: center;
  font-size: 35;
  margin-top: 10%;
}

.main-title {
  font-size: 55;
  text-align: center;
  color: royalblue;
  margin: 0;
}

.reg-button {
  font-size: 25;
  color: white;
  background-color: royalblue;
  border: none;
  padding: 5%;
  margin-top: 10%;
}
.reg-button-details {
  font-size: 17;
  color: white;
  background-color: royalblue;
  border: none;
  padding: 15px;
  margin-top: -20px;
}
.reg-button-small {
  font-size: 14;
  color: white;
  background-color: royalblue;
  border: none;
  padding: 10px;
  margin-top: -20px;
}
.reg-button-duo {
  font-size: 15;
  color: white;
  background-color: royalblue;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.reg-button-details a {
  text-decoration: none;
  color: white;
}

.standard-page {
  text-align: center;
  margin-top: 7%;
}

.profile-actions {
  display: flex;
  justify-content: center;
}

.profile-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.profile-box-images {
  max-height: 100px;
  max-width: 125px;
}

.profile-buttons {
  font-size: 17;
  text-decoration: none;
  background-color: royalblue;
  border: none;
  padding: 5%;
  margin-top: 10%;
}

.profile-buttons a {
  text-decoration: none;
  color: white;
}

.roster {
  text-align: center;
  margin-top: 5%;
}

.roster-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.houses {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.weather-box {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  font-size: 0.8rem;
  list-style-type: none;
  position: absolute;
  top: 150px;
  right: 0;
}

.form-titles {
  font-size: 25;
  text-align: center;
  color: royalblue;
  margin: 0;
}

.form-standard {
  border: 1px solid black;
  width: 300px;
  height: 580px;
  padding: 30px;
  margin: auto;
  align-items: center;
}
.form-standard-admin {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  padding: 30px;
  margin: auto;
  align-items: center;
}

.form-standard-sched {
  border: 1px solid black;
  width: 300px;
  height: 520px;
  padding: 30px;
  margin: auto;
  align-items: center;
}

.form-pages {
  text-align: center;
  margin-top: 20px;
}

.form-standard-details {
  display: flex;
  border: 1px solid black;
  width: 400px;
  height: 320px;
  padding: 30px;
  margin: auto;
  justify-content: space-evenly;
}

.form-schedule-details {
  display: flex;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  padding: 30px;
  margin: auto;
  justify-content: space-evenly;
}

.form-standard-details label {
  color: royalblue;
}

.details-boxes {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.profile-box {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  font-size: 0.8rem;
  text-decoration: none;
  position: absolute;
  top: 150px;
  left: 0;
}

.schedule-details {
  font-size: small;
  border: 1px solid black;
  width: 400px;
  padding: 30px;
  margin: auto;
  align-items: center;
}

.schedule-details label {
  color: royalblue;
}

.delete-button {
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  text-decoration: none;
  position: absolute;
  top: 230px;
  left: 50%;
  margin-left: -60px;
  transform: translate(0, -50%);
}

.logout-box {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  font-size: 0.8rem;
  text-decoration: none;
  position: absolute;
  top: 170px;
  left: 0;
}

.schedule-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
}

.schedule-grid-box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
}

.schedule-grid-text {
  font-size: 17;
}

.calendar-box-images {
  margin-top: 5px;
  max-height: 50px;
  max-width: 75px;
}